div#cart-offcanvas(uk-offcanvas="overlay: true; flip: true")
  aside.uk-offcanvas-bar.uk-padding-remove
    div(class="uk-card " +
              "uk-card-default " +
              "uk-card-small " +
              "uk-height-1-1 " +
              "uk-flex " +
              "uk-flex-column " +
              "tm-shadow-remove")

      header.uk-card-header.uk-flex.uk-flex-middle
        div.uk-grid-small.uk-flex-1(uk-grid)
          div.uk-width-expand
            div.uk-h3 Cart
          button.uk-offcanvas-close(type="button" uk-close)

      div.uk-card-body.uk-overflow-auto
        ul#cart_side_list.uk-list.uk-list-divider

      footer.uk-card-footer
        div.uk-grid-small(uk-grid)
          div.uk-width-expand.uk-text-muted.uk-h4 Subtotal
          div#cart_off_subtotal.uk-h4.uk-text-bolder 
        div(class="uk-grid-small " +
                  "uk-child-width-1-1 " +
                  "uk-child-width-1-2@m " +
                  "uk-margin-small" uk-grid)
          div
            a(class="uk-button uk-button-default uk-margin-small uk-button-small uk-width-1-1"
              href="/cart") view cart
          div
            a(class="uk-button uk-button-secondary uk-button-small uk-margin-small uk-width-1-1"
              href="/save-shipping-address") checkout

    script(src="scripts/indexDb.js")