extends /layouts/_custom

block vars
  -
    page = {
      title: 'View Cart Items',
      page_id: 'cart',
      breadcrumbs: []
    }

block custom
  div.uk-grid-medium(uk-grid) 

    //- Items
    div.uk-width-1-1(class="uk-width-expand@m")
      div.uk-card.uk-card-default.uk-card-small.tm-ignore-container

        //- Header
        header(class="uk-card-header " +
                     "uk-text-uppercase " +
                     "uk-text-muted " +
                     "uk-text-center " +
                     "uk-text-small " +
                     "uk-visible@m")
          div.uk-grid-small.uk-child-width-1-2(uk-grid)

            //- Product cell
            div product
            //- Other cells
            div
              div.uk-grid-small.uk-child-width-expand(uk-grid)
                div price
                div.tm-quantity-column quantity
                div Total
                div.uk-width-auto
                  div(style="width: 20px;")
          hr  
        
        div#cart_body
          

        div.uk-card-footer
          label
            span.uk-form-label.uk-margin-small-right Promo Code
            div.uk-inline
              a.uk-form-icon.uk-form-icon-flip(href="#" uk-icon="arrow-right")
              input.uk-input.uk-form-width-small(type="text")

    //- Checkout
    div.uk-width-1-1.tm-aside-column(class="uk-width-1-4@m")
      div.uk-card.uk-card-default.uk-card-small.tm-ignore-container(
        uk-sticky="offset: 30; bottom: true; media: @m;") 

        div.uk-card-body

          div.uk-grid-small(uk-grid)
            div.uk-width-expand.uk-text-muted Subtotal
            div#cart_subtotal Ksh 

          div.uk-grid-small(uk-grid)
            div.uk-width-expand.uk-text-muted Discount 
            div.uk-text-danger - Ksh 0.00

        div.uk-card-body

          div.uk-grid-small.uk-flex-middle(uk-grid)
            div.uk-width-expand.uk-text-muted Total
            div#cart_total.uk-text-lead.uk-text-bolder 
          
          div(style="margin-top:20px;")
            a.uk-button.uk-button-small.uk-button-secondary.uk-margin-small.uk-width-1-1( 
              href="save-shipping-address") checkout 

            button.paypal-button.uk-button.uk-button-small.uk-margin-small.uk-width-1-1
              span.paypal-button-title
                | Checkout with 
              span.paypal-logo
                i Pay
                i Pal 

  script(src="scripts/handler.js")
  script(src="scripts/cart.js")