extends /layouts/_checkout

block vars
  -
    page = {
      title: 'Save Shipping Address'
    }

block checkout
  div.uk-grid-medium.uk-flex-center(uk-grid)

    //- Form
    form#checkout_form.uk-form-stacked.uk-width-1-1.tm-checkout(class="uk-width-expand@m")
      div.uk-grid-medium.uk-child-width-1-2.uk-flex-center(uk-grid)

        //- Contact Information
        section
          h4.tm-checkout-title.uk-text-muted Shipping Information
          div.uk-card.uk-card-default.uk-card-small.uk-card-body.tm-ignore-container
            div(class="uk-grid-small " +
                      "uk-child-width-1-2 " +
                      "uk-child-width-1-2@s"
                uk-grid)

              div
                label
                  div.uk-form-label.uk-form-label-required First Name
                  input#fname.uk-input(type="text" required)

              div
                label
                  div.uk-form-label.uk-form-label-required Last Name
                  input#lname.uk-input(type="text" required)

              div
                label
                  div.uk-form-label.uk-form-label-required Phone Number
                  input#phone.uk-input(type="tel" required)

              div
                label
                  div.uk-form-label.uk-form-label-required Email
                  input#email.uk-input(type="email" required)


              //- Regional shipping
              div.uk-grid-small(uk-grid)

                div.uk-width-1-1
                  label
                    div.uk-form-label.uk-form-label-required County
                    select#county.uk-select
                      option(value="Nairobi") Nairobi

              div.uk-grid-small(uk-grid)

                div.uk-width-expand
                  label
                    div.uk-form-label.uk-form-label-required City
                    input#city.uk-input(type="text")

                div(class="uk-width-1-3 uk-width-1-6@s")
                  label
                    div.uk-form-label Post Code
                    input#postcode.uk-input(type="text")

              div.uk-grid-small(uk-grid)

                div.uk-width-expand
                  label
                    div.uk-form-label Street
                    input#street.uk-input(type="text")

                div(class="uk-width-1-3 uk-width-1-6@s")
                  label
                    div.uk-form-label House
                    input#house.uk-input(type="text")

              div.uk-grid-small(class="uk-child-width-1-3 uk-child-width-1-3@s" uk-grid)

                div
                  label
                    div.uk-form-label Building
                    input#building.uk-input(type="text")

                div
                  label
                    div.uk-form-label Entrance
                    input#entrance.uk-input(type="text")

                div
                  label
                    div.uk-form-label Floor
                    input#floor.uk-input(type="text")

              div
                label
                  div.uk-form-label Apartment
                  input#apartment.uk-input(type="text")

              div.uk-width-1-1
                label
                  div.uk-form-label Comment
                  textarea#comment.uk-textarea(
                    rows="5"
                    placeholder="Additional information: phone numbers or doorphone code")


              button.uk-button.uk-button-secondary.uk-button.uk-width-1-5(type='submit' style="margin:15px;") Save


           

  script(src="scripts/checkout.js") 
