<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico" type="image/ico" />

    <title>Lambano People</title>

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:200,300">

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/custom.css" rel="stylesheet"> 
    <link href="css/font-awesome.min.css" rel="stylesheet"> 
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.13.0/dist/sweetalert2.all.min.js"></script>

  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/" class="site_title"><img src="images/icons/logo.png" height="20" alt="Home"> <span class="site_title_text">Lambano People</span></a>
            </div>

            <div class="clearfix"></div>

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <ul class="nav side-menu">
                  <li  ><a style="margin: 0px;" href="/"><i><img src="images/icons/approved.svg" height="20" alt="Dashboard"> </i>&nbsp;&nbsp;&nbsp;Dashboard </a></li>
                  <li><a style="margin: 0px;"><i><img src="images/icons/man-in-office-desk-with-computer.svg" height="20" alt="Admin"> </i>&nbsp;&nbsp;&nbsp; Admin </a></li>
                  <li class="active"><a style="margin: 0px;" href="/company"><i><img src="images/icons/home.svg" height="20" alt="Company"> </i>&nbsp;&nbsp;&nbsp; Company </a></li>
                  <li><a style="margin: 0px;"><i><img src="images/icons/24-hours.svg" height="20" alt="Shifts"> </i>&nbsp;&nbsp;&nbsp; Shifts </a></li>
                  <li><a style="margin: 0px;"><i><img src="images/icons/study.svg" height="20" alt="Training"> </i>&nbsp;&nbsp;&nbsp; Training </a></li>
                  <li><a style="margin: 0px;"><i><img src="images/icons/placeholder.svg" height="20" alt="Locations"> </i>&nbsp;&nbsp;&nbsp; Locations </a></li>
                  <li><a style="margin: 0px;"><i><img src="images/icons/new-file.svg" height="20" alt="Logs"> </i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Logs </a></li>
                </ul>
              </div>
             
            </div>
            <!-- /sidebar menu -->

          </div>
        </div>
 <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile" >
                    <img src="images/img.png" alt=""><span class="user-name"></span>
                  </a>
                </li>
                <li class="nav_item">
                  <a href="#" class="" >
                    <img src="images/icons/notification.svg"  alt="">
                  </a>
                </li>
                <li class="nav_item">
                  <a href="#" class="" >
                    <img src="images/icons/settings.svg" alt="">
                  </a>
                </li>

              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->
        <!-- page content -->
        <div class="right_col" role="main">
         
       
        <!-- /page content -->


        <!-- /footer content -->
    
            <div class="row">
              <div class="col-lg-12">
                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                      <ul id="myTab" class="nav nav-tabs " role="tablist">
                        <li role="presentation" class="active"><a href="#tab_dash" id="dash-tab" role="tab" data-toggle="tab" aria-expanded="true">Dashboard</a>
                        </li>
                        <li role="presentation" class=""><a href="#tab_company" role="tab" id="company-tab" data-toggle="tab" aria-expanded="false">Company</a>
                        </li>
                        <li role="presentation" class=""><a href="#tab_employee" role="tab" id="employee-tab" data-toggle="tab" aria-expanded="false">Employees</a>
                        </li>
                      </ul>
                      <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_dash" aria-labelledby="dash-tab">

                        <div class="" role="main">
                        <!-- top tiles -->
                        <div class=" tile_count row"  >
                         <div class="bar_primary"></div>
                              <div class="col-lg-offset-3  col-md-2 col-sm-4 col-xs-6 tile_stats_count " >
                                  <div class="row tile_child">
                                    <div class="col-md-2">
                                      <span class=""><i class="fa fa-2x fa-home stats_icon "></i></span> 
                                    </div>
                                    <div class="col-md-6 description">
                                       <div id="num_co" class="count">---</div>
                                      <span class="count_bottom">No. of Companies</span>
                                    </div>
                                  </div>
                                </div>

                                  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count ">
                                  <div class="row tile_child">
                                    <div class="col-md-2">
                                      <span class=""><i class="fa fa-2x fa-users stats_icon "></i></span> 
                                    </div>
                                    <div class="col-md-6 description">
                                       <div class="count" id="num_users">---</div>
                                      <span class="count_bottom">Number of Users</span>
                                    </div>
                                  </div>
                                </div>

                                
                              </div>
                              <!-- /top tiles -->


                            <div class="col col-lg-6 col-sm-12">
                             <div class="bar company_bar_primary">
                               <p> New Company</p>
                             </div>
                              <section class="login_content" >
                                <form id="createCompanyForm">
                                  
                                  <div class="row">
                                  <div class="col col-lg-6 col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" id="company_name" placeholder="Company Name" required="" />
                                  </div>
                                  <div class="col col-lg-6  col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" id="address" placeholder="Address 1" required="" />
                                  </div>
                                  </div>

                                  <div class="row">
                                  <div class="col col-lg-6  col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" id="company_no" placeholder="Company Number" required="" />
                                  </div>
                                  <div class="col col-lg-6  col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" id="address2" placeholder="Address 2"  />
                                  </div>
                                  </div>
                                   <div class="row">
                                  <div class="col col-lg-6  col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" id="company_tier" placeholder="Company Tier" required="" />
                                  </div>
                                  <div class="col col-lg-6  col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" id="city" placeholder="City" required="" />
                                  </div>
                                  </div>

                                   <div class="row">
                                  <div class="col col-lg-6  col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" id="location_no" placeholder="Number of Locations" required="" />
                                  </div>
                                  <div class="col col-lg-6  col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" id="postcode" placeholder="Postcode" required="" />
                                  </div>
                                  </div>

                                 <div class="motto">Admin Details</div> 

                                 <div class="row">
                                  <div class="col col-lg-6  col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" id="fname" placeholder="First Name" required="" />
                                  </div>
                                  <div class="col col-lg-6  col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" id="lname" placeholder="Last Name" required="" />
                                  </div>
                                  </div>

                                  <div class="row">
                                  <div class="col col-lg-6  col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" id="email" placeholder="Email Address" required="" />
                                  </div>
                                  <div class="col col-lg-6  col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" id="phone" placeholder="Phone Number" required="" />
                                  </div>
                                  </div>

                                  <div>
                                    <button class="btn btn-default submit btn_primary" > Create Company </button>
                                  </div>

                                   <div class="clearfix" style="padding-bottom: 40px;"></div>

                                
                                </form>
                              </section>

                          </div>


                            <div class="col col-lg-6  col-sm-12 col-xs-12">
                             <div class="bar user_bar_primary">
                               <p> New User</p>
                             </div>
                              <section class="login_content" >
                                <form id="addUserForm">
                                  
                                  <div class="row">
                                  <div class="col col-lg-6  col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" id="u_fname" placeholder="First Name" required="" />
                                  </div>
                                  <div class="col col-lg-6  col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" id="u_lname" placeholder="Last Name" required="" />
                                  </div>
                                  </div>

                                  <div class="row">
                                  <div class="col col-lg-6  col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" id="u_address1" placeholder="Address 1" required="" />
                                  </div>
                                  <div class="col col-lg-6  col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" id="u_address2" placeholder="Address 2" />
                                  </div>
                                  </div>

                                   <div class="row">
                                  <div class="col col-lg-6  col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" id="u_city" placeholder="City" required="" />
                                  </div>
                                  <div class="col col-lg-6  col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" id="u_postcode" placeholder="Postcode" required="" />
                                  </div>
                                  </div>

                                   <div class="row">
                                  <div class="col col-lg-6  col-sm-12 col-xs-12">
                                    <input type="email" class="form-control" id="u_email" placeholder="Email Address" required="" />
                                  </div>
                                  <div class="col col-lg-6  col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" id="u_phone" placeholder="Phone Number" required="" />
                                  </div>
                                  </div>

                                   

                                 <div class="motto">Admin Details</div> 

                                  <div class="row">
                                  <div class="col col-lg-4  col-sm-12 col-xs-12">
                                     <br>
                                    <select  class="form-control" id="u_company" >
                                      <option id='-1'>Select Company</option>
                                    </select>
                                    <br>
                                  </div>
                                  <br>
                                  <div class="col col-lg-4  col-sm-12 col-xs-12">
                                  <select id="u_role" class="form-control">
                                    <option  selected="" disabled="">Select Role</option>
                                    <option value="1">Super Admin</option>
                                    <option value="2">Company Admin</option>
                                    <option value="3">Company Manager</option>
                                    <option value="4">Company Auditor</option>
                                    <option value="5">Company Manager (Employee)</option>
                                    <option value="6">Company Employee</option>
                                  </select>
                                   <br>
                                  </div>
                                 
                                  <div class="col col-lg-4">
                                    <input type="text" class="form-control" id="u_location" placeholder="Location" required="" />
                                    <br>
                                  </div>
                                  </div>

                                  <div>
                                    <button class="btn btn-default submit btn_secondary" > Create User </button>
                                  </div>

                                   <div class="clearfix" style="padding-bottom: 40px;"></div>

                                
                                </form>
                              </section>

                          </div>

                        </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_company" aria-labelledby="company-tab">
                                       <!-- top tiles -->
                        <div class=" tile_count row">

                         <div class="bar_flex">
                           <div class="row">
                              <div class="col col-lg-3  col-sm-12 col-xs-12">
                                <label>Select Company:</label>
                                <select  class="form-control" id="s_company" > </select>
                              </div>
                              </div>
                         </div>

                          <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count ">
                            <div class="row tile_child">
                              <div class="col-md-2">
                                <span class=""><img src="images/icons/hierarchy-levels.svg" width="30"  alt=""></span> 
                              </div>
                              <div class="col-md-6 description">
                                 <div class="count" id="company_tier_d">---</div>
                                <span class="count_bottom">Company Tier</span>
                              </div>
                            </div>
                          </div>

                           <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count ">
                            <div class="row tile_child">
                              <div class="col-md-2">
                                <span class=""><img src="images/icons/hierarchy-levels.svg" width="30"  alt=""> </span> 
                              </div>
                              <div class="col-md-6 description">
                                 <div class="count" id="noa_d">---</div>
                                <span class="count_bottom">Number of Admins</span>
                              </div>
                            </div>
                          </div>

                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count ">
                            <div class="row tile_child">
                              <div class="col-md-2">
                                <span class=""><img src="images/icons/hierarchy-levels.svg" width="30"  alt=""> </span> 
                              </div>
                              <div class="col-md-6 description">
                                 <div class="count" id="nom_d">---</div>
                                <span class="count_bottom">Number of Managers</span>
                              </div>
                            </div>
                          </div>

                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count ">
                            <div class="row tile_child">
                              <div class="col-md-2">
                                <span class=""><img src="images/icons/hierarchy-levels.svg" width="30"  alt=""></span> 
                              </div>
                              <div class="col-md-6 description">
                                 <div class="count" id="noe_d">---</div>
                                <span class="count_bottom">Number of Employees</span>
                              </div>
                            </div>
                          </div>
                          
                           
                        </div>
                        <!-- /top tiles -->
                          <span class="list_head" > Admin/s </span>
                          <div class="row" id="admin_list" style="margin-top: 20px;" > </div>
                          <span class="list_head"> Manager/s  </span>
                          <div class="row" id="manager_list" style="margin-top: 20px;" > </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_employee" aria-labelledby="employee-tab">
                         <div class="bar_primary" style="margin-top: 20px;"></div>
                          <div class="" id="employee_list" style="margin-top: 20px;" ></div>
                        </div>
                      </div>
                    </div>
              </div>
            </div>
                         
    </div>
    </div>
</div>


     <!-- jQuery -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- FastClick -->

    <!-- Custom Theme Scripts -->
    <script src="js/custom.min.js"></script>
    <script src="js/company.js"></script>

  </body>
</html>
