doctype html
html(ng-app='app', lang='en')
  head
    meta(charset='UTF-8')
    title logging out
    script(type='text/javascript').
      localStorage.removeItem("user");
      location.href="/";
  body