doctype html
html
    head(lang='en')
        meta(charset='UTF-8')
        title=message
        link(rel='stylesheet', href='/static/style.css')
    body
        h1 #{response.message}
        .demo-container(style='width: 50%; text-align:center')
            pre(style='width: 100%; text-align:left; display:block')=response.details
            pre(style='width: 100%; text-align:left; display:block')=response.error