#searchForm{
  border-radius: 5px;
}
.top_bar{
  width: 90%;
  height: auto;
  z-index: 5;
  margin-top:10px;
  margin-left: 50px;
  margin-bottom: 20px;
}
#top_tab {
  padding-top: 10px;
}
#top_categories{
  margin-right: 10px;
  height: 100px;
}
#bottom_cat{
  margin-top: 10px;
}
.top_bar_cat{
  padding: 10px;
  background-color:#000;
  color: #fff;
  height: 40px;
}

.bar_cat{
  padding: 10px;
  background-color:teal;
  color: #fff;
  height: 40px;
}
.category_header{
   padding: 10px;
  background-color: black;
  color: #fff;
  height: 40px;
   margin-top: 30px;
}
.bottom_cat{
  margin-left: 50px;
  margin-right: 80px;
}
.login-with-twitter {
  width: 100%;
  height: 48px;
  border-radius: 4px;
  margin-bottom: 20px;
  background-color: #00aced;
  -webkit-transition: background-color 515ms ease, -webkit-transform 582ms ease;
  transition: background-color 515ms ease, -webkit-transform 582ms ease;
  transition: transform 582ms ease, background-color 515ms ease;
  transition: transform 582ms ease, background-color 515ms ease, -webkit-transform 582ms ease;
  text-align: center;
}

.login-with-twitter:hover {
  background-color: #148dbb;
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}

.login-with-twitter.facebook-signin {
  background-color: #3b5998;
  text-transform: uppercase;
}

.login-with-twitter.facebook-signin:hover {
  background-color: #203b74;
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}

.twitter-logo-sigin {
  margin-right: 6px;
  padding-right: 3px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.twitter-sigin {
  position: relative;
  display: inline-block;
  font-family: Karla, sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.loader{
  display: block;margin-left: auto;margin-right: auto;width: 7%; height: 7%;  padding-top:40px; padding-bottom:40px;
}
.or {
   margin-top: 10px;
  margin-bottom: 20px;
  font-family: Eina01, sans-serif;
  color: #a7a7a7;
  font-size: 14px;
  text-align: center;
}
.w-form-done {
  display: none;
  padding: 20px;
  text-align: center;
  background-color: #dddddd;
  margin-bottom: 15px;
}
.w-form-fail {
  display: none;
  text-align: center;
  margin-top: 15px;
  padding: 10px;
  background-color: #ffdede;
  margin-bottom: 10px;
}
/*
=====
LEVEL 0. RESET BROWSER'S STYLES
=====
*/

.pagination__list{
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;  
}

/*
=====
LEVEL 1. CORE COMPONENT STYLES
=====
*/

.pagination{
  --uiPaginationAlign: var(--paginationAlign);
  --uiPaginationArrowSize: var(--paginationArrowSize, 22px);
  --uiPaginationFontSize: var(--paginationFontSize);  
  
  font-size: var(--uiPaginationFontSize);
}

.pagination__list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: var(--uiPaginationAlign);
}

.pagination__item:not(.pagination__control_prev):not(.pagination__item_active){
  padding-left: .5em;
}

.pagination__item:not(.pagination__control_next):not(.pagination__item_active){
  padding-right: .5em;
}

.pagination__item{
  display: inline-block;
  line-height: 1;
}

.pagination__control{
  position: relative;
}

.pagination__control:before, .pagination__control:after{
  font-size: var(--uiPaginationArrowSize);
  line-height: 1;
  
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.pagination__control_prev{
  padding-left: calc(var(--uiPaginationArrowSize) + 5px);
}

.pagination__control_prev:before{
  content: "←";
  left: 0;
}

.pagination__control_next{
  padding-right: calc(var(--uiPaginationArrowSize) + 5px);
}

.pagination__control_next:after{
  content: "→";
  right: 0;
}

.pagination__item_active{
  padding: .5875em .8em;
  margin-right: .5em;
  margin-left: .5em;
}

/*
=====
LEVEL 2. PRESENTATION STYLES
=====
*/

.pagination{
  --uiPaginationItemTextColor: var(--paginationItemTextColor);
  --uiPaginationItemActiveTextColor: var(--paginationItemActiveTextColor);  
}

.pagination__item{
  text-decoration: none;
  color: var(--uiPaginationItemTextColor);
}

.pagination__item_active{
  font-weight: 700;
  color: var(--uiPaginationItemActiveTextColor);
}

.pagination__item:focus{
  outline-color: var(--uiPaginationItemActiveBgColor);
}

/* type 1 */

.pagination_type1{
  --uiPaginationItemActiveBgColor: var(--paginationItemActiveBgColor);
}

.pagination_type1 .pagination__item_active{
  background-color: var(--uiPaginationItemActiveBgColor);
}

/* type 2 */

.pagination_type2{
  --uiPaginationItemActiveBorderWidth: var(--paginationItemActiveBorderWidth);
  --uiPaginationItemActiveBorderColor: var(--paginationItemActiveBorderColor, transparent);
}

.pagination_type2 .pagination__item_active{
  border: var(--uiPaginationItemActiveBorderWidth) solid var(--uiPaginationItemActiveBorderColor);
}

/* type 3 */

.pagination_type3{
  --uiPaginationItemBorderRadius: var(--paginationItemBorderRadius);
}

.pagination_type3 .pagination__item_active{
  border-radius: var(--uiPaginationItemBorderRadius);
}

/*
=====
LEVEL 3. SETTINGS
=====
*/

.pagination_style{
  --paginationItemBorderRadius: 50%;
  --paginationItemTextColor: #0094d9;
  --paginationItemActiveTextColor: #4557bb;
  --paginationItemActiveBgColor: #fff;
  --paginationItemActiveBorderColor: #4557bb;  
  --paginationItemActiveBorderWidth: 2px;
}
