<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico" type="image/ico" />

    <title>Lambano People</title>

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:200,300">

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/custom.css" rel="stylesheet"> 
    <link href="css/font-awesome.min.css" rel="stylesheet">

  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/" class="site_title"><img src="images/icons/logo.png" height="20" alt="Home"> <span class="site_title_text">LAMBANO PEOPLE</span></a>
            </div>

            <div class="clearfix"></div>

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                  <ul class="nav side-menu">
                  <li><a href="/" style="margin: 0px;"><i><img src="images/icons/approved.svg" height="20" alt="Dashboard"> </i><span>&nbsp;&nbsp;&nbsp;Dashboard</span> </a></li>
                  <li><a href="#" style="margin: 0px;"><i><img src="images/icons/man-in-office-desk-with-computer.svg" height="20" alt="Admin"> </i><span>&nbsp;&nbsp;&nbsp; Admin</span> </a></li>
                  <li><a href="/company" style="margin: 0px;"><i><img src="images/icons/home.svg" height="20" alt="Company"> </i><span>&nbsp;&nbsp;&nbsp; Company</span> </a></li>
                  <li><a style="margin: 0px;"><i><img src="images/icons/24-hours.svg" height="20" alt="Shifts"> </i><span>&nbsp;&nbsp;&nbsp; Shifts </span></a></li>
                  <li><a style="margin: 0px;"><i><img src="images/icons/study.svg" height="20" alt="Training"> </i><span>&nbsp;&nbsp;&nbsp; Training </span></a></li>
                  <li><a style="margin: 0px;"><i><img src="images/icons/placeholder.svg" height="20" alt="Locations"> </i><span>&nbsp;&nbsp;&nbsp; Locations</span> </a></li>
                  <li><a style="margin: 0px;"><i><img src="images/icons/new-file.svg" height="20" alt="Logs"> </i><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Logs</span> </a></li>
                </ul>
              </div>
             
            </div>
            <!-- /sidebar menu -->

          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile" >
                    <img src="images/img.png" alt=""><span class="user-name"></span>
                  </a>
                </li>
                <li class="nav_item">
                  <a href="#" class="" >
                    <img src="images/icons/notification.svg"  alt="">
                  </a>
                </li>
                <li class="nav_item">
                  <a href="#" class="" >
                    <img src="images/icons/settings.svg" alt="">
                  </a>
                </li>

              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <!-- top tiles -->
          <div class=" tile_count row">

           <div class="bar_primary"></div>

            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" id="tsc" hidden="">
                <div class="row tile_child">
                  <div class="col-md-2"><span><i class="fa fa-2x fa-calendar-check-o stats_icon"></i></span></div>
                  <div class="col-md-6 description">
                    <div class="count">---</div><span class="count_bottom">Total Shifts Covered</span>
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" id="nhw" hidden="">
                <div class="row tile_child">
                  <div class="col-md-2"><span><i class="fa  fa-2x fa-clock-o stats_icon"></i></span></div>
                  <div class="col-md-6 description">
                    <div class="count">----</div><span class="count_bottom">No. of Hours Worked</span>
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" id="nou" hidden="">
                <div class="row tile_child">
                  <div class="col-md-2"><span><i class="fa  fa-2x fa-users stats_icon"></i></span></div>
                  <div class="col-md-6 description">
                    <div class="count" id="num_users">---</div><span class="count_bottom">Number of Users</span>
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" id="noc" hidden="">
                <div class="row tile_child">
                  <div class="col-md-2"><span><i class="fa fa-2x fa-home stats_icon"></i></span></div>
                  <div class="col-md-6 description">
                    <div class="count" id="num_co">---</div><span class="count_bottom">Number of Companies</span>
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" id="tod" hidden="">
                <div class="row tile_child">
                  <div class="col-md-2"><span><i class="fa fa-2x fa-calendar-minus-o stats_icon"></i></span></div>
                  <div class="col-md-6 description">
                    <div class="count">---</div><span class="count_bottom">Trainings out of Date</span>
                  </div>9
                </div>
              </div>
              <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" id="sd" hidden="">
                <div class="row tile_child">
                  <div class="col-md-2"><span><i class="fa fa-2x fa-user stats_icon"></i></span></div>
                  <div class="col-md-6 description">
                    <div class="count">---</div><span class="count_bottom">Supervisions Due</span>
                  </div>
                </div>
              </div>
            
             
          </div>
          <!-- /top tiles -->

       
        <!-- /page content -->
         <div class="row">
         <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel dashboard">
              <div class="x_title">
                <div class="dash-title">Available Shift</div>
              </div>
              <div class="x_content">

                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Time</th>
                      <th>Location</th>
                      <th>Shift State</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>28/08/19 - 31/08/19</td>
                      <td>21:00 - 22:00</td>
                      <td>St Vincent Delaware NG8</td>
                       <td><span class="accept">Accept</span><span class="reject">Reject</span></td>
                    </tr>
                    <tr>
                      <td>28/08/19 - 31/08/19</td>
                     <td>12:00 - 14:00</td>
                      <td>St Vincent Delaware NG8</td>
                      <td><span class="accept">Accept</span><span class="reject">Reject</span></td>
                    </tr>
                    <tr>
                      <td>28/08/19 - 31/08/19</td>
                      <td>12:00 - 14:00</td>
                      <td>St Vincent Delaware NG8</td>
                       <td><span class="accept">Accept</span><span class="reject">Reject</span></td>
                    </tr>
                     <tr>
                      <td>28/08/19 - 31/08/19</td>
                      <td>21:00 - 22:00</td>
                      <td>St Vincent Delaware NG8</td>
                       <td><span class="accept">Accept</span><span class="reject">Reject</span></td>
                    </tr>
                    <tr>
                      <td>28/08/19 - 31/08/19</td>
                     <td>12:00 - 14:00</td>
                      <td>St Vincent Delaware NG8</td>
                       <td><span class="accept">Accept</span><span class="reject">Reject</span></td>
                    </tr>
                    <tr>
                      <td>28/08/19 - 31/08/19</td>
                      <td>12:00 - 14:00</td>
                      <td>St Vincent Delaware NG8</td>
                      <td><span class="accept">Accept</span><span class="reject">Reject</span></td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
          <div class="col-md-6">
              <div class="x_panel dashboard">
                <div class="x_title ">
                  <div class="revenue_total">$3296.51</div>
                  <div class="about_revenue">Revenue, excluding tax and deductions</div>
                  <div class=""><button class="btn btn-default btn-sm">View All</button></div>
                </div>
                <div class="x_content">
                  <article class="media event">
                    <div class="media-body">
                      <a class="title" href="#">St Vincents Lodge</a>
                      <p class="item-revenue pull-right">$206.51</p>
                      <p>28-07-2019 - 30-07-2019</p>
                      <p>16:00 - 18:00</p>
                    </div>
                  </article>
                  <div class="line" style="padding-top: 8px;"></div>
                  <article class="media event">
                    <div class="media-body">
                      <a class="title" href="#">Andrews Place</a>
                      <p class="item-revenue pull-right">$198.00</p>
                      <p>21-08-2019 - 31-08-2019</p>
                      <p>21:00 - 23:00</p>
                    </div>
                  </article>
                  <div class="line" style="padding-top: 8px;"></div>
                   <article class="media event">
                    <div class="media-body">
                      <a class="title" href="#">St Vincents Lodge</a>
                      <p class="item-revenue pull-right">$206.51</p>
                      <p>28-07-2019 - 30-07-2019</p>
                      <p>16:00 - 18:00</p>
                    </div>
                  </article>
                   <div class="line" style="padding-top: 8px;"></div>
                  <article class="media event">
                    <div class="media-body">
                      <a class="title" href="#">Andrews Place</a>
                      <p class="item-revenue pull-right">$198.00</p>
                      <p>21-08-2019 - 31-08-2019</p>
                      <p>21:00 - 23:00</p>
                    </div>
                  </article>
                </div>
              </div>
            </div>
            </div>
            <div class="row">
           <div class="col-md-6">
              <div class="x_panel announcement">
                <div class="x_title ">
                  <div class="main-title">Announcement</div>
                  <div class="about_announcement">Important information about your company</div>
                </div>
                <div class="x_content">
                  <article class="media event">
                    <div class="media-body">
                      <a class="title" href="#">28-07-2019 - John Doe</a>
                      <p>Meeting will be at the end of the year. GM will be present at the event opening. Purpose to Attend.</p>
                    </div>
                  </article>
                  <div class="line" style="padding-top: 8px;"></div>
                  <article class="media event">
                    <div class="media-body">
                      <a class="title" href="#">31-08-2019 - Jane Clue</a>
                      <p>All new interns to register at the counter place and feature this message at the entrance.</p>
                    </div>
                  </article>
                  <div class="line" style="padding-top: 8px;"></div>
                  <article class="media event">
                    <div class="media-body">
                      <a class="title" href="#">21-08-2019 - Patrick James</a>
                      <p>This is a new place holder message for all to read and contemplate.</p>
                    </div>
                  </article>
                </div>
              </div>
            </div>
       </div>

        <!-- /footer content -->
    
    </div>
    </div>
</div>


     <!-- jQuery -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.min.js"></script>

     <script type="text/javascript">

      $.get("/stats/getStats", function(resp){

         if(resp.success == 1){

             var data = resp.data;
             
             var row = data[0];

             if(row.noc != undefined){
                var numCo = row.noc;
                $("#noc").removeAttr("hidden");
                $("#noc").find(".count").text(numCo);
             }

             if(row.nou != undefined){
                var numU = row.nou;
                $("#nou").removeAttr("hidden");
                $("#nou").find(".count").text(numU);
             }

             if(row.nhw != undefined){
                var numH = row.nhw;
                $("#nhw").removeAttr("hidden");
                $("#nhw").find(".count").text(numH);
             }

             if(row.tsc != undefined){
                var numtsc = row.tsc;
                $("#tsc").removeAttr("hidden");
                $("#tsc").find(".count").text(numtsc);
             }

             if(row.tod != undefined){
                var numtod = row.tod;
                $("#tod").removeAttr("hidden");
                $("#tod").find(".count").text(numtod);
             }
             
             if(row.sd != undefined){
                var numtsc = row.tsc;
                $("#sd").removeAttr("hidden");
                $("#sd").find(".count").text(numtsc);
             }


           }          
      });

     /* $.post("/company/getCompanyStats", function(resp){
         if(resp.success == 1){
           var data = resp.data;
           var numCo = data.num_co;
           $("#num_co").text(numCo);
         }
      });

      $.post("/users/getUsersStats", function(resp){
         if(resp.success == 1){
           var data = resp.data;
           var numUsers = data.num_users;
           $("#num_users").text(numUsers);
         }
      });*/
      </script>
    <script src="js/handler.js"></script>


  
  </body>
</html>
