<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico" type="image/ico" />

    <title>Lambano People</title>

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:200,300">

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/custom.css" rel="stylesheet"> 
    <link href="css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"><img src="images/icons/logo.png" height="20" alt="Home"> <span class="site_title_text">LAMBANO PEOPLE</span></a>
            </div>

            <div class="clearfix"></div>

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <ul class="nav side-menu">
                  <li  ><a style="margin: 0px;"><i><img src="images/icons/approved.svg" height="20" alt="Dashboard"> </i>&nbsp;&nbsp;&nbsp;Dashboard </a></li>
                  <li><a style="margin: 0px;"><i><img src="images/icons/man-in-office-desk-with-computer.svg" height="20" alt="Admin"> </i>&nbsp;&nbsp;&nbsp; Admin </a></li>
                  <li class="active"><a style="margin: 0px;"><i><img src="images/icons/home.svg" height="20" alt="Company"> </i>&nbsp;&nbsp;&nbsp; Company </a></li>
                  <li><a style="margin: 0px;"><i><img src="images/icons/24-hours.svg" height="20" alt="Shifts"> </i>&nbsp;&nbsp;&nbsp; Shifts </a></li>
                  <li><a style="margin: 0px;"><i><img src="images/icons/study.svg" height="20" alt="Training"> </i>&nbsp;&nbsp;&nbsp; Training </a></li>
                  <li><a style="margin: 0px;"><i><img src="images/icons/placeholder.svg" height="20" alt="Locations"> </i>&nbsp;&nbsp;&nbsp; Locations </a></li>
                  <li><a style="margin: 0px;"><i><img src="images/icons/new-file.svg" height="20" alt="Logs"> </i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Logs </a></li>
                </ul>
              </div>
             
            </div>
            <!-- /sidebar menu -->

          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile" >
                    <img src="images/img.jpg" alt="">John Doe
                  </a>
                </li>
                <li class="nav_item">
                  <a href="#" class="" >
                    <img src="../build/icons/notification.svg"  alt="">
                  </a>
                </li>
                <li class="nav_item">
                  <a href="#" class="" >
                    <img src="../build/icons/settings.svg" alt="">
                  </a>
                </li>

              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <!-- top tiles -->
          <div class=" tile_count row">

           <div class="bar_primary"></div>

            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <div class="row tile_child">
                  <div class="col-md-2"><span><i class="fa fa-calendar-check-o stats_icon"></i></span></div>
                  <div class="col-md-6 description">
                    <div class="count">5</div><span class="count_bottom">Total Shifts Covered</span>
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <div class="row tile_child">
                  <div class="col-md-2"><span><i class="fa fa-clock-o stats_icon"></i></span></div>
                  <div class="col-md-6 description">
                    <div class="count">45.75</div><span class="count_bottom">No. of Hours Worked</span>
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <div class="row tile_child">
                  <div class="col-md-2"><span><i class="fa fa-users stats_icon"></i></span></div>
                  <div class="col-md-6 description">
                    <div class="count">800</div><span class="count_bottom">Number of Users</span>
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <div class="row tile_child">
                  <div class="col-md-2"><span><i class="fa fa-home stats_icon"></i></span></div>
                  <div class="col-md-6 description">
                    <div class="count">155</div><span class="count_bottom">Number of Companies</span>
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <div class="row tile_child">
                  <div class="col-md-2"><span><i class="fa fa-calendar-minus-o stats_icon"></i></span></div>
                  <div class="col-md-6 description">
                    <div class="count">35</div><span class="count_bottom">Trainings out of Date</span>
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <div class="row tile_child">
                  <div class="col-md-2"><span><i class="fa fa-user stats_icon"></i></span></div>
                  <div class="col-md-6 description">
                    <div class="count">5</div><span class="count_bottom">Supervisions Due</span>
                  </div>
                </div>
              </div>
            
             
          </div>
          <!-- /top tiles -->

       
        <!-- /page content -->


        <!-- /footer content -->
    

            <div class="row">
              <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <ul class="nav navbar-right panel_toolbox">
                     
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">First Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Last Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="last-name" name="last-name" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Middle Name / Initial</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div id="gender" class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                              <input type="radio" name="gender" value="male"> &nbsp; Male &nbsp;
                            </label>
                            <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                              <input type="radio" name="gender" value="female"> Female
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Date Of Birth <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="birthday" class="date-picker form-control col-md-7 col-xs-12" required="required" type="text">
                        </div>
                      </div>
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button class="btn btn-primary" type="button">Cancel</button>
              <button class="btn btn-primary" type="reset">Reset</button>
                          <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>
    </div>
    </div>
</div>


     <!-- jQuery -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- FastClick -->

    <!-- Custom Theme Scripts -->
    <script src="js/custom.min.js"></script>
  
  </body>
</html>
