extends _index

block vars

block index

  header
    div.uk-navbar-container.tm-navbar-container
      div.uk-container(uk-navbar)

        div.uk-navbar-left
          //- Logo
          a.uk-navbar-item.uk-logo(href="/")
            img(src="images/logo.png" width="auto" height="auto" alt="Logo")

        div.uk-navbar-right
          //- Phone
          a.uk-navbar-item.uk-link-muted(href="#")
            +icon("receiver", ".75")(class="uk-margin-xsmall-right")
            span.tm-pseudo= shopInfo.phone


  main
    section.uk-section.uk-section-small
      div.uk-container
        div.uk-grid-medium.uk-child-width-1-1(uk-grid)

          section.uk-text-center
            a.uk-text-small(href="/cart")
              +icon("arrow-left", ".75")(class="uk-margin-xsmall-right")
              +icon("home", ".75")(class="uk-margin-xsmall-right")
              | Return to Home
            h3.uk-margin-small-top.uk-margin-remove-bottom Checkout

          section
            block custom

  footer
    div.uk-section.uk-section-secondary.uk-section-small.uk-light
      div.uk-container
        div.uk-flex-middle(uk-grid)

          div.uk-width-expand
            div © Gift Stores All rights reserved

          div
            a.uk-link-muted(href="#")
              +icon("receiver", ".75")(class="uk-margin-xsmall-right")
              span.tm-pseudo= shopInfo.phone