include ../data/_data
include ../mixins/_import

doctype html
meta(name='viewport', content='width=device-width, initial-scale=1.0')

//- Variables
block vars
  - var page

//- Template
html(lang="en")
  head 
    include /partials/_head 
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:500,700")
    link(rel="stylesheet" href="styles/style.css")
    link(rel="stylesheet" href="styles/custom.css")
    link(rel="stylesheet" href="styles/easy-autocomplete.min.css")
    script(src="scripts/uikit.js")
    script(src="scripts/uikit-icons.js")
    script(src="scripts/blazy.min.js")
    script(src="scripts/jquery-3.2.1.min.js")
    script(src="scripts/indexDb.js")
    script(src="scripts/jquery.easy-autocomplete.min.js")  

    script.
         var bLazy = new Blazy({
                selector: 'img,.b-lazy', // all images
                offset: 50 // Loads images 200px before they're visible
         });

         
  body
    div.uk-offcanvas-content
      block index
    
    script.
      if (window.location.hash == '#_=_'){
      // Check if the browser supports history.replaceState.
        if (history.replaceState) {
          // Keep the exact URL up to the hash.
          var cleanHref = window.location.href.split('#')[0];
          // Replace the URL in the address bar without messing with the back button.
          history.replaceState(null, null, cleanHref);
        } else {
        // Well, you're on an old browser, we can get rid of the _=_ but not the #.
        window.location.hash = '';
        }
      }
    script(src="scripts/script.js")
    script.
       var resultsQu = "#{page.quantity}";
    
 
  