extends _default

block vars

block default
  section(style="padding-top:20px;")
    div.uk-container
      div.uk-grid-medium.uk-child-width-1-1(uk-grid)

        div.uk-text-center
          if page.breadcrumbs
            ul.uk-breadcrumb.uk-flex-center.uk-flex-center.uk-margin-remove
              li
                +icon("arrow-left", ".75")(class="uk-margin-xsmall-right")
                +icon("home", ".75")(class="uk-margin-xsmall-right")
                a(href="/") Home
              each x in page.breadcrumbs
                li: a(href=x.href)= x.name
          if page.title
            h4#page_title.uk-text-secondary.uk-margin-small-top.uk-margin-remove-bottom= page.title
            if page.page_id != "cart" && page.title != "Catalog" && page.page_id != "product" 
              div.uk-text-meta.uk-text-success.uk-margin-xsmall-top.page_quantity 
            else if page.page_id != "Product"
            else
              div#other_text.uk-text-meta.uk-text-success.uk-margin-xsmall-top

        div
          block pages 