extends _default

block vars

block default
  section(style="padding-top:20px;")
    div.uk-container
      div.uk-grid-medium.uk-child-width-1-1(uk-grid)

        div.uk-text-center
          if page.breadcrumbs
            ul.uk-breadcrumb.uk-flex-center.uk-margin-remove
              li: a(href="/") Home
              each x in page.breadcrumbs
                li: a(href=x.href)= x.name
          if page.title
            h3#page_title.uk-text-primary.uk-margin-small-top.uk-margin-remove-bottom= page.title
            div.uk-text-meta.uk-text-success.uk-margin-xsmall-top.page_quantity

        div
          block pages